
@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h2 class="w3-container w3-center w3-animate-opacity">Our Mission: To help you have the best one possible...</h2>
<link href="~/Content/About.css" rel="stylesheet" />
<div class="row">
    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Lazenbyyy.png" class="image" width: 100%>
            <i>Ben Lazenby</i>
            <i>Japan</i>
            <div class="overlay">
            </div>
        </div>
    </div>

  <div class="column">
      <div class="container">
          <img src="~/Content/Images/Test.jpg" class="image" height="400" width="475">
          <i>Logan Sackley</i>
          <i>West Indies</i>
          <div class="overlay">
          </div>
      </div>
    </div>

    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Ty Todd.jpg" class="image" height="400" width="475">
            <i>Tyler Crowther</i>
            <i>Chile</i>
            <div class="overlay">
            </div>
        </div>
    </div>

    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Canva_Mason.jpg" class="image" height="400" width="475">
            <i>Mason Brockbank</i>
            <i>Boston</i>
            <div class="overlay">
            </div>
        </div>
    </div>
</div>

<h2><u><b class="w3-container w3-center w3-animate-opacity">Our Mission</b></u></h2>
<p class="w3-container w3-center w3-animate-opacity">We hope to bring together a community of return missionaries and young men and women about to depart on their missions.
    We know through personal experience how intimidating it can be to leave on a mission, and our goal is to limit the amount of stress a missionary
    feels so that he or she can focus on preparing to serve the Lord. That is why we created What's My Mission.com. We hope this will be a place where 
    people can freely contribute and learn about the places they will be serving in. We hope you find this website helps you prepare yourself to 
    becoming a full-time missionary.</p>