
@{
    ViewBag.Title = "About";
}
<h2>The Ictus Boys</h2>
<link href="~/Content/About.css" rel="stylesheet" />
<div class="row">
    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Lazenbyyy.png"    class="image">
            <div class="overlay">
                <div class="text">Ben Lazenby</div>
            </div>
        </div>
        <div class="column">
            <div class="container">
                <img src="~/Content/Images/Ty Todd.jpg"   class="image">
                <div class="overlay">
                    <div class="text">Tyler Crowther</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Test.jpg" class="image">
            <div class="overlay">
                <div class="text">Logan Sackley</div>
            </div>
        </div>
        <div class="column">
            <div class="container">
                <img src="~/Content/Images/Canva_Mason.jpg"  class="image">
                <div class="overlay">
                    <div class="text">Mason Brockbank</div>
                </div>
            </div>
        </div>
    </div>
</div>
<b>Our Mission</b>
<p>We hope to bring together a community of return missionaries and young men and women about to depart on their missions. </p>