
@{
    ViewBag.Title = "About";
}
<h2>The Ictus Boys</h2>
<link href="~/Content/About.css" rel="stylesheet" />
<div class="row">
    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Lazenbyyy.png" class="image">
            <div class="overlay">
                <div class="text">Ben Lazenby</div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Test.jpg" class="image">
            <div class="overlay">
                <div class="text">Logan Sackley</div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Ty Todd.jpg" class="image">
            <div class="overlay">
                <div class="text">Tyler Crowther</div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="container">
            <img src="~/Content/Images/Canva_Mason.jpg" class="image">
            <div class="overlay">
                <div class="text">Mason Brockbank</div>
            </div>
        </div>
    </div>
</div>

<b>Our Mission</b>
<p>We hope to bring together a community of return missionaries and young men and women about to depart on their missions.
    We know through personal experience how intimidating it can be to leave on a mission, and our goal is to limit the amount of stress a missionary
    feels so that he or she can focus on preparing to serve the Lord. That is why we created What's My Mission.com. We hope this will be a place where 
    people can freely contribute and learn about the places they will be serving in. We hope you find this website helps you prepare yourself to 
    becoming a full-time missionary.</p>