@model ProjectOne.Models.Mission

@{
    ViewBag.Title = "Mission";
}

<h2>Mission</h2>

<div>
    <div class="form-group">
        <div class="col-md-10">
          
            @Html.DropDownList(Model=> Model.MissionID, new SelectList(ViewBag.Teams, 'MissionID', "MissionName"))
            @Html.ValidationMessageFor(model => model.MissionName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Show Mission" class="btn btn-default" />
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

