@model IEnumerable<ProjectOne.Models.FAQ>

@{
    ViewBag.Title = "FAQ";
}

<h2>Mission FAQ</h2>

<table>
    @foreach (var item in Model)
    {
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
    </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>

        </tr>
        <br />
    }

</table>

